In [1]:
import nilmtk

In [6]:
from nilmtk import DataSet

iawe = DataSet('iawe.h5')

In [7]:
elec = iawe.buildings[1].elec
elec

MeterGroup(meters=
  ElecMeter(instance=1, building=1, dataset='iAWE', site_meter, appliances=[])
  ElecMeter(instance=2, building=1, dataset='iAWE', site_meter, appliances=[])
  ElecMeter(instance=3, building=1, dataset='iAWE', appliances=[Appliance(type='fridge', instance=1)])
  ElecMeter(instance=4, building=1, dataset='iAWE', appliances=[Appliance(type='air conditioner', instance=1)])
  ElecMeter(instance=5, building=1, dataset='iAWE', appliances=[Appliance(type='air conditioner', instance=2)])
  ElecMeter(instance=6, building=1, dataset='iAWE', appliances=[Appliance(type='washing machine', instance=1)])
  ElecMeter(instance=7, building=1, dataset='iAWE', appliances=[Appliance(type='computer', instance=1)])
  ElecMeter(instance=8, building=1, dataset='iAWE', appliances=[Appliance(type='clothes iron', instance=1)])
  ElecMeter(instance=9, building=1, dataset='iAWE', appliances=[Appliance(type='unknown', instance=1)])
  ElecMeter(instance=10, building=1, dataset='iAWE', appliances=[Appliance(type='television', instance=1)])
  ElecMeter(instance=11, building=1, dataset='iAWE', appliances=[Appliance(type='wet appliance', instance=1)])
  ElecMeter(instance=12, building=1, dataset='iAWE', appliances=[Appliance(type='motor', instance=1)])
)

In [8]:
fridge = elec['fridge']
fridge.available_columns()

[('power', 'active'),
 ('frequency', None),
 ('power', 'apparent'),
 ('voltage', None),
 ('power', 'reactive'),
 ('power factor', None),
 ('current', None)]

In [22]:
df = next(fridge.load())
df

physical_quantity,power,frequency,power,voltage,power,current
type,active,,apparent,,reactive,
2013-06-07 05:30:00+05:30,0.111000,50.070000,2.486000,235.070007,2.483000,0.011
2013-06-07 05:30:01+05:30,0.200000,50.080002,2.555000,235.020004,2.547000,0.011
2013-06-07 05:30:02+05:30,0.152000,50.080002,2.485000,234.979996,2.480000,0.011
2013-06-07 05:30:03+05:30,0.159000,50.060001,2.449000,235.000000,2.444000,0.010
2013-06-07 05:30:04+05:30,0.215000,50.060001,2.519000,234.949997,2.510000,0.011
...,...,...,...,...,...,...
2013-08-05 22:02:00+05:30,77.623001,50.169998,92.412003,222.770004,50.146000,0.415
2013-08-05 22:02:01+05:30,77.603996,50.180000,92.584000,222.779999,50.490002,0.416
2013-08-05 22:02:02+05:30,77.445999,50.160000,92.217003,222.669998,50.062000,0.414
2013-08-05 22:02:03+05:30,77.414001,50.180000,92.366997,222.690002,50.387001,0.415
2013-08-05 22:02:04+05:30,77.389000,50.160000,92.186996,222.720001,50.095001,0.414

In [42]:
mi = df.columns

In [43]:
mi

MultiIndex([(    'power',   'active'),
            ('frequency',         ''),
            (    'power', 'apparent'),
            (  'voltage',         ''),
            (    'power', 'reactive'),
            (  'current',         '')],
           names=['physical_quantity', 'type'])

In [122]:
tb = pd.DataFrame(columns = df.columns)

In [135]:
new_df = pd.read_csv('ac_seconds.csv',names =df.columns)

In [136]:
new_df.head()

                           power frequency    power voltage    power current
                          active           apparent         reactive
2020-08-12 00:00:00+05:30   -3.0     49.98   3000.0  230.07  3000.00    9.94
2020-08-12 00:00:01+05:30   -5.0     49.98   2500.0  230.15  2500.00    9.93
2020-08-12 00:00:02+05:30  -14.0     49.98   2800.0  230.15  2799.97    9.92
2020-08-12 00:00:03+05:30  -13.0     49.98   2600.0  230.15  2599.97    9.89
2020-08-12 00:00:04+05:30  -19.0     49.98   2375.0  230.14  2374.92    9.88

In [139]:
tb[df.columns]= new_df[new_df.columns]
tb

physical_quantity          power frequency    power voltage    power current
type                      active           apparent         reactive
2020-08-12 00:00:00+05:30   -3.0     49.98  3000.00  230.07  3000.00    9.94
2020-08-12 00:00:01+05:30   -5.0     49.98  2500.00  230.15  2500.00    9.93
2020-08-12 00:00:02+05:30  -14.0     49.98  2800.00  230.15  2799.97    9.92
2020-08-12 00:00:03+05:30  -13.0     49.98  2600.00  230.15  2599.97    9.89
2020-08-12 00:00:04+05:30  -19.0     49.98  2375.00  230.14  2374.92    9.88
...                          ...       ...      ...     ...      ...     ...
2020-08-12 01:54:22+05:30 -258.0     49.98  2366.97  232.25  2352.87   10.11
2020-08-12 01:54:23+05:30 -261.0     49.98  2372.73  231.88  2358.33   10.14
2020-08-12 01:54:24+05:30 -260.0     49.98  2363.64  231.58  2349.29   10.13
2020-08-12 01:54:25+05:30 -265.0     49.98  2366.07  232.43  2351.18   10.15
2020-08-12 01:54:26+05:30 -263.0     49.98  2369.37  232.19  2354.73   10.15

[6867 rows x 6 columns]

In [141]:
tb.to_hdf('CAXE.h5', key='CAXE', mode='w')

In [153]:
tb.to_csv('caxe.csv')

In [151]:
import pandas as pd
import numpy as np
from os.path import join
from nilmtk.datastore import Key
from nilmtk.measurement import LEVEL_NAMES
from nilmtk.utils import check_directory_exists, get_datastore, get_module_directory
from nilm_metadata import convert_yaml_to_hdf5
from copy import deepcopy

In [164]:
TIMESTAMP_COLUMN_NAME = "timestamp"
TIMEZONE = "Asia/Kolkata"
START_DATETIME, END_DATETIME = '2020-08-12', '2020-08-12'
FREQ = "S"


# def convert_caxe(iawe_path, output_filename, format="HDF"):
iawe_path = './data/'
output_filename = 'caxe9'
"""
Parameters
----------
iawe_path : str
    The root path of the iawe dataset.
output_filename : str
    The destination filename (including path and suffix).
"""

check_directory_exists(iawe_path)
idx = pd.date_range(start=START_DATETIME, end=END_DATETIME, freq=FREQ)
idx = idx.tz_localize('GMT').tz_convert(TIMEZONE)

# Open data store
store = get_datastore(output_filename, format='HDF', mode='w')
electricity_path = join(iawe_path, "electricity")

# Mains data

key = Key(building=1, meter=1)
filename = join(electricity_path, "%d.csv" % 1)
print('Loading ', 1)
# df = pd.read_csv(filename, dtype=np.float64, na_values='\\N')
# df.drop_duplicates(subset=["timestamp"], inplace=True)
# df.index = pd.to_datetime(df.timestamp.values, unit='s', utc=True)
# df = df.tz_convert(TIMEZONE)
# df = df.drop(TIMESTAMP_COLUMN_NAME, 1)
# df.columns = pd.MultiIndex.from_tuples(
#     [column_mapping[x] for x in df.columns],
#     names=LEVEL_NAMES
# )
df =tb
df = df.apply(pd.to_numeric, errors='ignore')
df = df.dropna()
df = df.astype(np.float32)
df = df.sort_index()
# df = df.resample("1T").mean()
# df = reindex_fill_na(df, idx)
assert df.isnull().sum().sum() == 0
store.put(str(key), df)
store.close()

metadata_dir = join(get_module_directory(), 'dataset_converters', 'iawe', 'metadata')
convert_yaml_to_hdf5(metadata_dir, output_filename)

print("Done converting iAWE to HDF5!")

Loading  1
Done converting YAML metadata to HDF5!
Done converting iAWE to HDF5!

In [168]:
from nilmtk import DataSet
from nilmtk.utils import print_dict

caxe = DataSet('./caxe9')

In [169]:
caxe