In [1]:
import nilmtk

In [6]:
from nilmtk import DataSet

iawe = DataSet('iawe.h5')

In [7]:
elec = iawe.buildings[1].elec
elec

MeterGroup(meters=
  ElecMeter(instance=1, building=1, dataset='iAWE', site_meter, appliances=[])
  ElecMeter(instance=2, building=1, dataset='iAWE', site_meter, appliances=[])
  ElecMeter(instance=3, building=1, dataset='iAWE', appliances=[Appliance(type='fridge', instance=1)])
  ElecMeter(instance=4, building=1, dataset='iAWE', appliances=[Appliance(type='air conditioner', instance=1)])
  ElecMeter(instance=5, building=1, dataset='iAWE', appliances=[Appliance(type='air conditioner', instance=2)])
  ElecMeter(instance=6, building=1, dataset='iAWE', appliances=[Appliance(type='washing machine', instance=1)])
  ElecMeter(instance=7, building=1, dataset='iAWE', appliances=[Appliance(type='computer', instance=1)])
  ElecMeter(instance=8, building=1, dataset='iAWE', appliances=[Appliance(type='clothes iron', instance=1)])
  ElecMeter(instance=9, building=1, dataset='iAWE', appliances=[Appliance(type='unknown', instance=1)])
  ElecMeter(instance=10, building=1, dataset='iAWE', appliances=[Appliance(type='television', instance=1)])
  ElecMeter(instance=11, building=1, dataset='iAWE', appliances=[Appliance(type='wet appliance', instance=1)])
  ElecMeter(instance=12, building=1, dataset='iAWE', appliances=[Appliance(type='motor', instance=1)])
)

In [8]:
fridge = elec['fridge']
fridge.available_columns()

[('power', 'active'),
 ('frequency', None),
 ('power', 'apparent'),
 ('voltage', None),
 ('power', 'reactive'),
 ('power factor', None),
 ('current', None)]

In [22]:
df = next(fridge.load())
df

physical_quantity,power,frequency,power,voltage,power,current
type,active,,apparent,,reactive,
2013-06-07 05:30:00+05:30,0.111000,50.070000,2.486000,235.070007,2.483000,0.011
2013-06-07 05:30:01+05:30,0.200000,50.080002,2.555000,235.020004,2.547000,0.011
2013-06-07 05:30:02+05:30,0.152000,50.080002,2.485000,234.979996,2.480000,0.011
2013-06-07 05:30:03+05:30,0.159000,50.060001,2.449000,235.000000,2.444000,0.010
2013-06-07 05:30:04+05:30,0.215000,50.060001,2.519000,234.949997,2.510000,0.011
...,...,...,...,...,...,...
2013-08-05 22:02:00+05:30,77.623001,50.169998,92.412003,222.770004,50.146000,0.415
2013-08-05 22:02:01+05:30,77.603996,50.180000,92.584000,222.779999,50.490002,0.416
2013-08-05 22:02:02+05:30,77.445999,50.160000,92.217003,222.669998,50.062000,0.414
2013-08-05 22:02:03+05:30,77.414001,50.180000,92.366997,222.690002,50.387001,0.415
2013-08-05 22:02:04+05:30,77.389000,50.160000,92.186996,222.720001,50.095001,0.414

In [42]:
mi = df.columns

In [43]:
mi

MultiIndex([(    'power',   'active'),
            ('frequency',         ''),
            (    'power', 'apparent'),
            (  'voltage',         ''),
            (    'power', 'reactive'),
            (  'current',         '')],
           names=['physical_quantity', 'type'])

In [67]:
new_df = pd.read_csv('ac_seconds.csv',names = mi)

In [68]:
new_df.head()

   power frequency    power voltage    power current
  active           apparent         reactive
0     A1        F1      AP1      V1      RP1      C1
1     -3     49.98     3000  230.07     3000    9.94
2     -5     49.98     2500  230.15     2500    9.93
3    -14     49.98     2800  230.15  2799.97    9.92
4    -13     49.98     2600  230.15  2599.97    9.89

In [69]:
new_df = new_df.drop(0)
new_df.head()

   power frequency    power voltage    power current
  active           apparent         reactive
1     -3     49.98     3000  230.07     3000    9.94
2     -5     49.98     2500  230.15     2500    9.93
3    -14     49.98     2800  230.15  2799.97    9.92
4    -13     49.98     2600  230.15  2599.97    9.89
5    -19     49.98     2375  230.14  2374.92    9.88